body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

.match {
  background: white;
  padding: 15px;
  margin: 20px auto;
  width: 320px;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
